<H1>Détails d'une réservation</H1>
<br>
Montre : <% @booking_item.each do |id| %>
<%  if BookingItem.find(id).watch %>
<%=  BookingItem.find(id).watch.model %>
<% end %>
<% end %><br>


Statut: <%= @booking.status %><br>
Date: <%= @booking.created_at %><br>
Total: <%= @booking.price_total %><br>

