.container-booking {
  color: dark-gray;
  border: 2px solid black;
  width: 821px;
  margin: 30px 0px 30px 0px;
  padding: 20px;
  margin-left: 250px;
  background-color: white;

}

.table th, .table td {
  color: black;
}
