.btn-flat {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #000000;
  transition: background 0.3s ease;
  margin: -2px;
}

.btn-low {
  color: black;
  padding: 13px 24px;
  background: #e6b31e;
  transition: background 0.3s ease;
  margin: -2px;
}

.btn-low:hover {
  background: #e6b31e;
  color: white;
}

.btn-flat:hover {
  background: #434343;
  color: white;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
}

.btn-ghost a {
  text-decoration: none;
  color: #4A4A4A;
}



.btn-rsx {
  color: white;
  border: 1px solid #e0ddd9;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-rsx a {
  text-decoration: none;
  color: white;
}

.btn-rsx:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFFFFF;
}


