.btn-flat {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #000000;
  transition: background 0.3s ease;
  margin: -2px;
}

.btn-flat:hover {
  background: #434343;
  color: white;
}
