
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  border: 1px solid #ED9E00;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 2px solid;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #e3b04b;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;

}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  background: #000000;
  border-radius: 5px;

}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  border: 2px solid #ED9E00;
  width: 1000px;
}

.container-dashboard{

  margin:100px;
}

.col-md-3 {

    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    margin-block-end: 200px;
    margin-block-start: 57px;
    margin-left: -56px;
  }

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 5px solid
    #dee2e6;
}



#status {
   text-align: center;
  margin-top: 10px;
  width: 200px;
  border-radius: 5px;
}


.banner-dashboard {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.banner-dashboard-text {
  color: white;
  font-size: 40px;
  padding-top: 90px;
}



.button-dashboard {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  margin-left: 200px;
  width:90px;
  top: 10px;
  display: flex;
  margin-top: -38px;
  height: 38px;
  background: #000000;
  border-radius: 5px;
  color: white;
}



.btn-details {
text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  width:105px;
  top: 10px;
  height: 38px;
  background: #000000;
  border-radius: 5px;
  color: white;

}

.btn-modal {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  width:95px;
  top: 10px;
  height: 35px;
  background: #000000;
  border-radius: 5px;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 28px;

}
