.features-block {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.banner-features {
  margin-bottom: 100px;
  height: 300px;
  padding: 50px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;

}


.breadcrumb {
  background-color: #f4f4f4;
  font-style: italic;
}
