.features-block {
  width: 1080px;
  margin: 0 auto;
  margin-bottom: 100px;
  height: 700px;
  padding: 50px;
}

.banner-features {
  margin-bottom: 100px;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 80px;

}


.breadcrumb {
  background-color: #f4f4f4;
  font-style: italic;
}
