body {

}

h2, h3, h4, h6 {
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 34px;
}


p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
