.card {
  width: 250px;
}

.card-text1 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: #bcbcbc;
}


.card-text2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #434343;
  line-height: 25px;
  padding-bottom: 12px;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}
