.card {
  width: 250px;
}

.card-text1 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: #434343;
}


.card-text2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #afafaf;
  line-height: 25px;
  padding-bottom: 12px;
}

.card-text3 {
  font-family: 'Merriweather', serif;
  font-size: 12px;
}


.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  padding: 50px;
}


.cards-watches-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
}

.cards-watches-home a {
  text-decoration: none;
}

.watches-home h2 {
  color: white;
  font-size: 27px;
}

.watches-home hr {
  border: 1px solid #e6b31e;
}

.watches-home {
  height: 700px;
  width: 100%;
  background-color: #191919;
  padding: 50px;
}

.chome {
  margin-top: 100px;
}

.card {
box-shadow: 5px 3px 3px grey;
}
