#topics {
  width: 700px;
  margin: 10px;
  margin-left: 133px;
  height: 30px;

}


.searchbar-div {
    width: 100%;
    height: 140px;
    background-color: #f6f6f6;
    bottom: 0;
    padding: 40px;
    border: 1px solid #e0ddd9;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.search-field {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  .btn-flat {
    height: 70px;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    background: #000000;
    transition: background 0.3s ease;
    margin: -2px;
    height: 39px;
    width: 85px;
  }
}


.search-btn {
  height: 70px !important;
    color: white !important;
    padding: 8px 16px !important;
    border-radius: 4px !important;
    background: #000000 !important;
    transition: background 0.3s ease !important;
    margin: -2px !important;
    height: 39px !important;
    width: 80px !important;
    text-align: center !important;

}

