.container-show {
  background-color: red;
}

.element1 {
  background-color: blue;
}

.element2 {
  background-color: green;
  color: white;
}

.element3 {
  background-color: black;
  color: white;
}

.element4 {
  background-color: yellow;
}

#search_field[ input ] {
  width:700px;
}



